@charset "UTF-8";

body {
    font: normal 15pt arial;
    background-color: rgb(37, 90, 238);
}
header {
    text-align: center;
    color: white;
}
section {
    background-color: white;
    max-width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.336);
}
label {
    font-size: clamp(1rem, 3vw, 1.3rem);
}
aside {
    margin: auto;
    border: 1px solid black;
    text-align: center;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 30%);
    width: 198px;
    min-height: 50px;
}
select{
    display: block;
    margin: auto;
    border: 1px solid black;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.301);
    width: 200px;
}
input.botao{
    display: inline-block;
}
#botao {
    width: 124px;
    margin: auto;
    display: table;
}
footer {
    text-align: center;
    color: white;
}